@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
   background-color: #1C2230;
}

.comments {
    background-image: url(/images/bg-quotes.png) !important;
    background-repeat: no-repeat !important;
   background-color:rgb(10, 0, 29);
   margin: 20px !important;
}

.gradient-button{
   background: linear-gradient(90deg, #4FC7D5, #42B0D1);
}